@media (max-width:767px){.player-info{top:8%}body{font-size:smaller}}@media (min-width:768px){.player-info{top:8%}body{font-size:small}}@media (min-width:992px){.player-info{top:20%}body{font-size:large}}@media (min-width:1200px){.player-info{top:20%}body{font-size:large}}#puzzle-main {
    width: 80%;
    height: 100%;
}
^ {
    adaptiveText }

#puzzle .cell {
    width: 33.3%;
    height: 100%;
    float: left;
    padding: 1em;
    background-color: transparent;
}
.hole {
    width: 100%;
    height: 100%;
    border-radius: 90%;
    background-color: #EEE;
    box-sizing: content-box;
}
.piece.X {
    background-color: #eb5757 !important;
}
.piece.O {
    background-color: #ffeb3b !important;
}
.tick-container {
    position: absolute;
    height: 20px;
    width: 23px;
}
.tick {
    background-image: url('http://localhost:3000/static/img/ticks.png?etag=G44diLUF');
    background-size: cover;
    max-width: 100%;
    max-height: 87%;
    background-color: transparent;
}
.tick.O {
    background-position: 100%;
}
.puzzle-row {
    height: 33.3%;
    width: 100%;
    background-color: transparent;
}
.cell:first-child {
    border-left: 3px solid #EEE; ;
}
.cell:last-child {
    border-right: 3px solid #EEE; ;
}
.puzzle-row:last-child {
    border-bottom: 3px solid #EEE; ;
}
.piece {
    position: absolute;
    -webkit-transition: top 0.5s ease-in;
    -moz-transition: top 0.5s ease-in;
    -o-transition: top 0.5s ease-in;
    transition: top 0.5s ease-in;
}
#hident2 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    float: right;
    width: 20%;
    border: none;
    border-left: 1px solid #999;
}
#hident2 p,#hident2 input,#hident2 textarea {
    font-size: 0.9em;
}
#hident4 {
    position: absolute;
    bottom: 0px;
    width: 80%;
    height: 8%;
    border: none;
    border-top: 1px solid #999;
    resize: none;
    font-size: 0.9em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#hident5 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 20%;
    height: 8%;
    background-color: #6D4;
    color: #FFF;
    border: none;
    overflow: hidden;
}
#hident5:hover {
    background-color: #4B2;
}
#hident4:focus,#hident5:focus,#hident7:focus,#hident6:focus {
    outline: none;
}
#hident3 {
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 92%;
    width: 100%;
    font-family: monospace;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #AAA;
}
#hident3 p {
    margin-top: 0.7em;
}
#hident6 {
    display: block;
    margin: 2em auto 0;
    text-align: center;
    border: none;
    border-bottom: 1px dashed #CCC;
}
#hident7 {
    background-color: transparent;
    border: 1px solid #CCC;
    display: block;
    margin: 2em auto 0;
    font-size: 0.9em;
    color: #AAA;
}
#hident7:hover {
    background-color: #AAA;
    color: white;
}
#hident8 {
    color: #C22;
    font-style: italic;
}
#globe {
    font-size: 0.9em;
}
@media (max-width:767px) {
    #hident2,#globe,#connect {
        visibility: hidden;
    }
    #puzzle-main {
        width: 100%;
    }
}
@media (min-width:768px) {
    #hident2,#globe,#connect {
        visibility: hidden;
    }
    #puzzle-main {
        width: 100%;
    }
}
@media (min-width:992px) {
    #hident2,#globe,#connect {
        visibility: visible;
    }
    #puzzle-main {
        width: 80%;
    }
}
@media (min-width:1200px) {
}
#nav-bar {
    position: absolute;
    top: 2%;
    width: 100%;
    font-size: 1.2em;
    color: #888;
}
#nav-bar div {
    float: left;
    width: 20%;
}
#nav-bar div span {
    display: block;
    text-align: center;
}
#puzzle-wrapper {
    position: absolute;
    width: 18em;
    height: 18em;
    top: 50%;
    left: 50%;
    margin-left: -9em;
    margin-top: -9em;
}
#puzzle {
    width: 100%;
    height: 100%;
}
#puzzle-main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}
.player-info {
    position: absolute;
    text-align: center;
}
.player-info h1 {
    font-size: 1.5em;
}
#player-1-info {
    left: 5%;
}
#player-2-info {
    right: 5%;
}
#whoseTurn {
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 5%;
    text-align: center;
    font-size: 1.5em;
}
#globe {
    position: absolute;
    top: 10%;
    right: 5%;
}
#connect {
    position: absolute;
    left: 5%;
    top: 10%;
}
#connect p {
    text-align: center;
    color: #AAA;
    font-family: monospace;
    font-size: 0.8em;
}
#cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 50;
    opacity: 0;
}
#messageBox {
    position: absolute;
    width: 30em;
    height: 26em;
    background-color: white;
    z-index: 60;
    left: 50%;
    top: 50%;
    padding: 2em;
    margin-left: -13em;
    margin-top: -13em;
}
#messageBox div {
    text-align: center;
    margin-top: 10%;
}
#messageBox button {
    border: none;
    padding: 0.7em 1em;
    background-color: #DDD;
    font-size: 2em;
    margin-bottom: 1em;
}
#messageBox button:hover {
    background-color: #AAA;
}
#messageBox button:focus {
    outline: none;
}
#messageBox p {
    font-size: 200%;
    margin-bottom: 2em;
}
@media (max-width:767px) and (orientation: landscape) {
}
@media (max-width:767px) and (orientation: portrait) {
}
