h1 {
    text-align: center;
    margin-bottom: 30px
;
}
li {
    line-height: 2em;
    font-size: 16px
;
}
ol {
    margin-bottom: 30px
;
}
footer {
    text-align: center
;
}
.input-sm {
    margin-left: 20px
;
}
#selection-monad {
    font-size: 1.5em;
    display: block;
    text-align: center;
}
html {
    position: relative;
    min-height: 100%;
}
#main {
    margin-bottom: 180px;
}
.nav > li {
    float: left;
}
.sticky-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding-top: 30px;
}
@media (max-width:767px) {
    .nav > li {
        font-size: 12px;
    }
}
@media (min-width:768px) {
    .nav > li {
        font-size: 16px;
    }
}
#nav-bar {
    position: absolute;
    top: 2%;
    width: 100%;
    font-size: 1.2em;
    color: #888;
}
#nav-bar div {
    float: left;
    width: 20%;
}
#nav-bar div span {
    display: block;
    text-align: center;
}
#puzzle-wrapper {
    position: absolute;
    width: 18em;
    height: 18em;
    top: 50%;
    left: 50%;
    margin-left: -9em;
    margin-top: -9em;
}
#puzzle {
    width: 100%;
    height: 100%;
}
#puzzle-main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}
.player-info {
    position: absolute;
    text-align: center;
}
.player-info h1 {
    font-size: 1.5em;
}
#player-1-info {
    left: 5%;
}
#player-2-info {
    right: 5%;
}
#whoseTurn {
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 5%;
    text-align: center;
    font-size: 1.5em;
}
#globe {
    position: absolute;
    top: 10%;
    right: 5%;
}
#connect {
    position: absolute;
    left: 5%;
    top: 10%;
}
#connect p {
    text-align: center;
    color: #777;
    font-family: monospace;
    font-size: 0.8em;
}
#cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 50;
    opacity: 0;
}
#messageBox {
    position: absolute;
    width: 30em;
    height: 26em;
    background-color: white;
    z-index: 60;
    left: 50%;
    top: 50%;
    padding: 2em;
    margin-left: -13em;
    margin-top: -13em;
}
#messageBox div {
    text-align: center;
    margin-top: 10%;
}
#messageBox button {
    border: none;
    padding: 0.7em 1em;
    background-color: #DDD;
    font-size: 2em;
    margin-bottom: 1em;
}
#messageBox button:hover {
    background-color: #AAA;
}
#messageBox button:focus {
    outline: none;
}
#messageBox p {
    font-size: 200%;
    margin-bottom: 2em;
}
@media (max-width:767px) and (orientation: landscape) {
}
@media (max-width:767px) and (orientation: portrait) {
}
